__pycache__/
*.py[cod]
*$py.class

venv/
.env/
.env.bak/
env/
.venv/

*.env
.env.*
*.ini
*.cfg
*.secret
secrets.json

*.log
*.pot
*.pyc
*.pyo
*.sqlite3
*.sql
*.db
*.bak
*.swp
*.swo

django_cache/

htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
test_results/

.vscode/
.idea/
*.iml

.DS_Store
Thumbs.db
